/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

#calendar{
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  font-family: 'Lato', sans-serif;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
  color: rgb(39, 174, 96) !important;
  width: 65px !important;
  height: 68.5714px !important;
  line-height: 68.5714px !important;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 480px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px;
}
#calendar_content div{
  float: left;
  width: 68.5714px;
  height: 68.5714px;
  line-height: 68.5714px;
  cursor: pointer;
}
#calendar_content div:hover{
  background-color: #F8F8F8;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
  width: 68.5714px;
  height: 68.5714px;
  line-height: 68.5714px;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 90px;
  text-align: center;
  background-color: rgb(39, 174, 96);
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}
#calendar_header h1{
  margin-top: 0.8em;
  font-size: 1.5em;
  color: #FFFFFF;
  float:left;
  width:70%;
}
.icon-chevron {
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
  line-height: 68.5714px !important;
  cursor: pointer;
}

.booked {
  background-color: #ec8686 !important;
  transition: opacity 2s ease-in;
}
